<div id="<%= dom_id message %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= message.user.email %> say:</strong>
  </p>

  <p class="my-5">
    <%= message.content %>
  </p>

</div>
